$purple:      #3B13A9;
$purple-light:#4B0FD3;
$purple-icon: #A8A2E6;
$pink:        #FF007F;
$white:       #FFFFFF;
$black:       #363F5F;
$gray:        #969CB3;
$gray-bg:     #F3F3F6;
$yellow:      #EEB938;
$red:         #F95360;
$green:       #39933E;

/*DARK MODE */

$body-dark-mode: #1F1D2B;
$card-dark-mode: #252836;